# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular language for Data Science
- List commonly used libraries by Data Scientists
- Few examples for arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. SAS

Some of the commonly used libraries by Data Scientists include-

1. numpy
2. pandas
3. scikit
4. dplyr

| Data Science Tool |
| ----------------- |
| Jupyter Notebook  |
| RStudio           |
| Pycharm |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes /60
hours

3.3333333333333335

## Author
Shubham Jain